.carousel21 
{margin: 0;
font-size: 1rem;
font-weight: 400;
line-height: 1.2;
background-color: #fff;
display: flex;
flex-direction: column;
text-align: justify;
color: #212529;
height: 10vh;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.owl-carousel {
position: relative; /* Lo posiciona de manera absoluta */
left: 55%;
transform: translateX(-50%);
}

.cards-container {
position: absolute; /* Permite que el carrusel se mueva libremente */
width: 100%;
display: flex;
}

.cards-container h2 {
font-size: 30px;
text-align: center;
color: #333;
}


.card-text {
text-align: justify;
margin: auto;
color: #212529;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.cards-container .owl-nav {
display: none;
}

.cards-container .owl-dots {
text-align: center;
}

.cards-container .owl-dots span {
position: relative;
height: 10px;
width: 10px;
border-radius: 50%;
display: block;
background: #fff;
border: 2px solid #01b0f8;
}

.cards-container .owl-dots .active {
box-shadow: none;
}

.cards-container .owl-dots .active span {
background: #01b0f8;
box-shadow: none;
}

.cards-container .card {
background: #fff;
box-shadow: 0 8px 30px -7px #c9dff0;
border-radius: 30px;
border: 0;
max-width: 250px; /* Ligeramente reducido */
height: 210px; /* Ligeramente reducido */
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.cards-container .card .card-img-top {
max-width: 100px;
border-radius: 50%;
box-shadow: 0 8px 20px -4px #95abbb;
width: 65px; /* Ajustado */
height: 65px;
}

.cards-container .card h5 {
color: #01b0f8;
font-size: 15px;
}

.cards-container .card h5 span {
font-size: 14px;
color: #666;
}

.cards-container .card p {
font-size: 12px;
text-align: center;
margin: 3px 0;
}

/* Ajustes para la tarjeta central */
.cards-container .center {
opacity: 1;
}

.cards-container .center h5 {
font-size: 17px;
}

.cards-container .center h5 span {
font-size: 15px;
}

.cards-container .center .card-img-top {
width: 75px;
height: 75px;
}

